@import "~bootstrap/scss/bootstrap";

.navbar-light .navbar-nav .nav-link .header__nav {
	color: #45413e;
}

.dropdown-menu {
	padding: 0;
	border: none;
}

.col {
	padding: 0;
	margin: 0;
}

.navbar {
	padding-bottom: 0;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active .header__services {
	background-color: #262a32;
	color: #ffffff;
	height: 150%;
}

.dropdown-header {
	background-color: #262a32;
	color: #ffffff !important;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.dropdown-item {
	background-color: #262a32;
	color: #ffffff !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 31px;
}
