@font-face {
	font-family: 'Lato - Bold';
	src: url('../../assets/fonts/lato/Lato-Bold.ttf');
	src: local('Lato Bold'), local('Lato-Bold'), url('../../assets/fonts/lato/Lato-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/lato/Lato-Regular.ttf');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

.bg {
	background-color: #262a32;
	padding-left: 60px;
	padding-right: 60px;
}

.mainTitle {
	color: #ffffff;
	font-family: "Lato - Bold";
	font-size: 24px;
	font-weight: 400;
	padding-top: 90px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;

	&:before,
	&:after {
		content: "";
		display: inline-block;
		width: 80%;
		margin: 0 .5em 0 -55%;
		vertical-align: middle;
		border-bottom: 2px solid;
		opacity: 0.1;
	}
	&:after {
		margin: 0 -55% 0 .5em;
	}
}

.firstRow {
	margin-top: 40px;
}

.height {
	padding-top: 5%;
	padding-bottom: 5%;
}

.btn {
	background-color: transparent;
	border-radius: 42px;
	border: 2px solid #e8e2d6;
	color: #ffffff;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 13px 90px;
	margin-top: 50px;
	margin-bottom: 60px;

	&:hover {
		background-color: #e8e2d6;
		color: #45413e;
	}

	.undo {
		margin-left: 20px;
	}
}

.cardTitle {
	color: #2c3e50;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.cardPrice {
	color: #011847;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400;
}

.cardImg {
	background-color: #262a32;
}

.imgText {
	color: #ffffff;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	width: 70%;
	padding-top: 85%;
}

.imgTime {
	color: #ffffff;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
}

.imgIcon {
	margin-right: 10px;
}

.cardBtn {
	background-color: transparent;
	border-radius: 42px;
	border: 2px solid #868380;
	padding: 13px 20px;
}

.cardBtnPrice {
	color: #24c36c;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400;
	margin-right: 18px;
}

.cardBtnText {
	color: #000000;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	border-left: 2px solid #868380;
	padding-left: 18px;
}


@media (min-width: 320px) and (max-width: 767px) {
  
	.mainTitle {

		padding-top: 30px;

		&:before,
		&:after {
			width: 20%;
		}
	
	}

	.bg {
		padding-bottom: 15%;
	}
	
	.carousel ol {
		position: relative;
		top: 103%;
	}

  }